/* профиль */
.profile {
  max-width: 880px;
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 20px;
}

.profile__name-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  margin-left: 20px;
  margin-top: 10px;
}

/* имя */
.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

/* профессия */
.profile__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-top: 8px;

  white-space: nowpar;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

/* обёртка для имени и кнопки редактирования */
.profile__name-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile__edit {
  position: static;
  width: 24px;
  height: 24px;
  background: url("../icons/Edit_Button.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin-left: 10px;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__add {
  width: 100%;
  max-width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
}


.profile__add:hover {
  opacity: 0.6;
}

/* адаптив для профиля */
@media (max-width: 679px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    margin-bottom: 16px;
  }

  .profile__info {
    margin-left: 0;
}

  .profile__name-wrapper {
    justify-content: center;
  }

  .profile__title {
    font-size: 28px;
    line-height: 32px;
  }

  .profile__subtitle {
    font-size: 16px;
    width: auto;
    margin-bottom: 16px;
  }

  .profile__add {
     width: 100%;
     max-width: 282px;
  }

}
