@import url("avatar.css");
@import url("card.css");
@import url("popup.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: #fff;
  height: 100%;
}

/* контейнер-контент */
.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

/* хедер */
.header {
  max-width: 880px;
  margin: 45px auto 0;
  height: 74px;
  border-bottom: 1px solid #545454;
  padding: 0 16px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.logo {
  width: 142px;
  height: auto;
  display: block;
  object-fit: contain;
  margin: 0;
  transform: translateY(-6px);
}

@media (max-width: 679px) {
  .header {
    padding-left: 27px;
  }
}

.footer {
  max-width: 880px;
  margin: 60px auto;
  padding: 0 16px;
  font-size: 14px;
  color: #888;
  text-align: left;
}
